<h2 [ngStyle]="{'text-align':'center'}">Students Data</h2>

<form class="main-form" [formGroup]="studentForm" (ngSubmit)="submit()">

  <div class="input-box">
    <label for="studentName">Student Name:</label>
    <input type="text" placeholder="Name" id="studentName" formControlName="studentName">
  </div>

  <div class="input-box">
    <label for="studentYear">Student Year:</label>
    <input type="text" placeholder="Year"id="studentYear" formControlName="studentYear">
  </div>

  <div class="input-box">
    <label for="studentContact">Student Contact:</label>
    <input type="text" placeholder="Contact" id="studentContact" formControlName="studentContact">
  </div>

  <div class="input-box">
    <label for="studentActivity">Student Activity:</label>
    <input type="text" placeholder="Activity" id="studentActivity" formControlName="studentActivity">
  </div>
  
  <div class="buttons">
    <button type="reset" class="btn" (click)="reset()"> Clear </button>
    <button type="submit" class="btn">Submit</button>
  </div>

</form>

<table class="table-data" *ngIf="isSubmitted">
  <thead>
    <tr>
      <th> Index </th>
      <th>Student Name</th>
      <th>Student Year</th>
      <th>Student Contact</th>
      <th>Student Activity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ student.studentName }}</td>
      <td>{{ student.studentYear }}</td>
      <td>{{ student.studentContact }}</td>
      <td>{{ student.studentActivity }}</td>
      <td>
        <button (click)="deleteRow(i)">DELETE</button>
        <button (click)="updateRow(i)">UPDATE</button>
      </td>
    </tr>
  </tbody>
</table>
